.clickArea{
    cursor:pointer;
    /*make text not selectable: */ 
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.hovered{
    background-color: #f8f9fa;
}
